<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>添加起止时间记录</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <style type="text/css">
        #example {
            width: 100vw;
            height: 100vh;
            line-height: 1;
            padding: 3rem;
        }
        .board, .addBtn {
            width: 260px;
            height: 130px;
        }
        .addBtn {
            border: 3px dotted #e9ecef;
            background-color: rgba(233, 236, 239, .3);
            line-height: 130px;
            text-align: center;
        }
        .addBtn i {
            color: #e9ecef;
            font-size: 3rem;
        }
        .modalContent {
            width: 400px;
        }
    </style>
</head>
<body>

    <div class="container-fluid" id="example">
        <div class="row">
            <!-- 利用v-for循环实现数据叠加的效果 -->
            <div class="col-3" v-for="(item, index) in items" :key="index">
                <div class="jumbotron p-3 board">
                    <!-- index+1 输出记录编号 -->
                    <h6 class="text-center">第 {{ index+1 }} 次计时</h6>
                    <br>
                    <p>开始时间：{{ item.startTime }}</p>
                    <p>结束时间：{{ item.endTime }}</p>
                </div>
            </div>
            <div class="col-3">
                <div class="addBtn">
                    <!-- 利用bootstrap中的modal模态框组件，弹出输入面板 -->
                    <a href="#addModal" data-toggle="modal" data-backdrop="static"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="modal" id="addModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modalContent">
                    <div class="modal-header">
                        <h6 class="modal-title">添加记录</h6>
                        <button class="close" data-dismiss="modal"><span>&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">开始时间：</span>
                            </div>
                            <input type="datetime-local" class="form-control" placeholder="YYYY-MM-DD hh:mm" v-model="stVal" @focus.stop="onFocus">
                        </div>
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">结束时间：</span>
                            </div>
                            <input type="datetime-local" class="form-control" placeholder="YYYY-MM-DD hh:mm" v-model="etVal" @focus.stop="onFocus">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span class="text-danger" v-show="isShow">时间格式有误，请重新输入！</span>&nbsp;
                        <button class="btn btn-primary" @click.stop="onSubmit">提交</button>
                        <button class="btn btn-secodary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
	</div>


	<script type="text/javascript">
        var mh = {
            modalHide: function(){
                $('#addModal').modal('hide');
            }
        };
        var vm = new Vue({
            el: '#example',
			data: {
				items: [
                {
                    startTime: '2018-11-09 16:53',
                    endTime: '2018-11-11 18:34'
                },
                {
                    startTime: '2018-11-12 15:52',
                    endTime: '2018-12-12 14:25'
                },
                ],
                stVal: '',
                etVal: '',
                isShow: false
			},
			methods: {
                testPattern: function(t){
                    var reg = /[0-9]{4}-[0-9]{2}-[0-9]{2}\s+[0-9]{2}:[0-9]{2}/;
                    return reg.test(t);
                },
                onSubmit: function(){
                    var st = this.stVal.replace(/T/, ' ');
                    var et = this.etVal.replace(/T/, ' ');
                    if(this.testPattern(st) && this.testPattern(et)){
                        this.items.push(
                        {
                            startTime: st,
                            endTime: et
                        },
                        );
                        mh.modalHide();
                    }
                    else{
                        this.isShow = true;
                    };
                },
                onFocus: function(){
                    this.isShow = false;
                }
			}
		})
	</script>

</body>
</html>